<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>

    <div id="app">
        <div class="map"
             v-on:mousedown="MapDown"
             v-on:mousemove="MapMove"
             v-on:mouseup="MapUp"
             v-bind:style="styleMap">

            <div class="row" v-for="(row, rowIndex) in rows">
                <div class="cell"
                     v-for="(cell, columnIndex) in row"
                     v-bind:style="styleCell"
                     v-bind:class="MapClass(rowIndex, columnIndex)"
                     v-on:mouseover="ShowPath(rowIndex, columnIndex,'person')"
                     v-on:click="PersonMove(rowIndex, columnIndex,'person')">
                </div>
            </div>

            <img class="entity"
                 v-for="entity in entities"
                 v-bind:style="EntityStyle(entity)"
                 v-bind:src="entity.src" />

        </div>
        <div class="game-panel">
            <div class="person-portret">
                <svg class="portret-area">
                    <clipPath id="healthClip">
                        <rect y="10" v-bind:x="health" width="160" height="160"></rect>
                    </clipPath>
                    <image class="portret" x="5" y="-155" height="150" width="150" xlink:href="image/per/avatar.png"> </image>
                    <circle cx=" 80" cy=" 80" r=" 70" class="manna" v-bind:style="{'stroke-dashoffset': manna}">  </circle>
                    <circle class="life" clip-path="url(#healthClip)" cx="80" cy="80" r="65"> </circle>



                </svg>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="a-star.js"></script>
    <script src="script.js"></script>
</body>
</html>